.bg_bottom{margin-bottom:75px;}
.large{font-size:18px;line-height:1.7;margin:40px auto;text-align:justify;width:75%;}
.drought_bg{background:url('/static/img/drought_red.png') no-repeat center center;height:575px;margin:0 auto;width:1024px;}
.small_left{float:left;margin:0 55px;}
.small_container{margin:100px auto 0;width:1024px;}
.small_img{height:126px;width:224px;}
.about_small{background:url('/static/img/small_info.png') no-repeat center center;height:126px;width:224px;}
.research_small{background:url('/static/img/small_stats.png') no-repeat center center;height:126px;width:224px;}
.data_small{background:url('/static/img/small_doc.png') no-repeat center center;height:126px;width:224px;}
.chart_small{background:url('/static/img/chart.png') no-repeat center center;height:126px;width:224px;}
.chart_curve_small{background:url('/static/img/chart_curve.png') no-repeat center center;height:126px;width:224px;}
.pie_small{background:url('/static/img/pie.png') no-repeat center center;height:126px;width:224px;}
.small_img_path{display:block;font-size:16px;margin:20px auto 0;padding:10px 0;text-align:center;text-transform:uppercase;text-decoration:none;width:130px;}
.hurricane_bg{background:url('/static/img/hurricane_border.png') no-repeat center center;height:575px;margin:0 auto;width:1024px;margin-bottom:75px;}
.lightning_bg{background:url('/static/img/lightning_red.png') no-repeat center center;height:575px;margin:0 auto;width:1024px;margin-bottom:75px;}
.bridge_bg{background:url('/static/img/bridge_red.png') no-repeat center center;height:575px;margin:0 auto;width:1024px;margin-bottom:75px;}
.cloud_bg{background:url('/static/img/cloud_bg.png') no-repeat center center;height:575px;margin:0 auto;width:1024px;margin-bottom:75px;}
.float_left_70{float:left;width:70%;}
.data_doc{background:url('/static/img/data_doc.png') no-repeat left center;float:right;height:250px;width:29%;}
.margin_top{margin-top:25px;}
.float_right_70{float:right;margin-top:30px;width:70%;}
.globe{background:url('/static/img/globe.png') no-repeat right center;float:left;height:300px;width:29%;}
.stats{background:url('/static/img/stats.png') no-repeat left center;float:right;height:300px;width:29%;}
.flash{background:url('/static/img/flash.png') no-repeat left center;float:right;height:500px;width:29%;}
