{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div class="clearfix margin_top">
  <div class="float_right_70">
    <p class="large">My interest in disasters has always been latent &mdash; living in the Bay Area, earthquakes are never far from my mind. But I actively 
	began studying them as part of a course on Southeast Asia. In the period following the 2004 tsunami, thousands of aid organizations set up shop, 			
	with no coordination between them, and upon their exit, left the region dependent upon their income and services. Countries like Malaysia, refused 	
	to let new agencies in to avoid this problem. As technology has progressed and the amount of data available increases, countries should be able to 	
	learn from each other's policies and developments. Innovations such as Ushahide should be available to cities as part of their disaster planning 	
	process. </p>
  </div>
  <div class="globe"></div>
</div>
<div class="clearfix margin_top">
  <div class="float_left_70">
    <p class="large">This project attempts to measure the "innate" severity of natural disasters, determining
  what the expected losses should be relative to actual losses. Losses are measured in deaths,
  total number of people affected, and estimated damages in US millions. Expected losses
  will eventually be calculated using regression analysis, but for this initial round, will be
  measured in average losses of similar disasters in similar countries. Similar disasters are
  categorized by disaster severity, and similar countries are categorized by development levels.</p>
  </div>
  <a href="/research"><div class="stats"></div></a>
</div>
{% endblock %}
