{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div class="drought_bg"></div>
<div class="clearfix about_globe">
  <div class="float_right_70">
    <p class="large">My interest in disasters stems from several things,
    specifically: an influx in lack of aid coordination (an example being
    Malaysia's refusal to allow NGO's post-tsunami), wanting to learn from
    disasters both as individual events and total trends, and, lastly, from living
    in the San Francisco Bay Area &mdash; which is prone to earthquakes.</p>
  </div>
  <div class="globe"></div>
</div>
{% endblock %}
