{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div class="lightning_bg"></div>
<div class="clearfix">
  <div class="float_left_70">
    <p class="large"> There has been no open-source, comprehensive dataset
    regarding disasters. Additionally, hose in existence each use different standards 
	and classifications.In an attempt to fill that void, the available dataset includes 
	2,110 disasters from 2000-2011. The dataset includes disasters by country, location, 
	region, dates, killed, affected, and damages. Disaster severity and country development level has 
    also been added.</p>
  </div>
  <a href="/data/download"><div class="data_doc"></div></a>
</div>
<div class="clearfix margin_top">
    <div class="float_right_70">
        <h2>Sources</h2>
        <p class="large">
            Original dataset:  EM-DAT (Centre for Research on the Epidemiology of Disasters (CRED)
            Earthquakes: 	   Deaths by Year, U.S. Geological Survey
            Floods/Storms: 	   Global Active Archive of Large Flood Events, 
            Volcanoes:		   Global Volcanism Program (The Smithsonian Institute)
            Wildfires: 		   News.
            Development:	   Health Expenditures per capita, Primary School Enrollment, GDP, Communications (World Bank Data Catalogue)</p>
        </p>
    </div>
    <div class="resources"></div>
</div>
{% endblock %}
