{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div class="development_map"></div>
<p class="normal">A country's development level was calculated using <a href="http://data.worldbank.org/indicator/SH.XPD.PCAP"> health expenditures </a>, <a href="http://data.worldbank.org/indicator/NY.GDP.MKTP.CD"> GDP </a>, <a href="http://data.worldbank.org/indicator/SE.PRM.NENR"> school enrollment</a>, and communications. Communications consists of <a href="http://data.worldbank.org/indicator/IT.MLT.MAIN.P2"> telephone lines </a>, <a href="http://data.worldbank.org/indicator/IT.CEL.SETS.P2"> mobile phone subscriptions </a>, and <a href="http://data.worldbank.org/indicator/IT.NET.USER.P2"> internet users</a>. An arithmetic mean was calculated using 2008 indices, and when indices were not available, the average index was substituted. Countries were then broken into five group, with 5 indicating most developed, and 1 indicating least developed. 
	
	</p>
	
<div class="margin_top">
</div>
<div class="clearfix">
  <div class="center">
    <p class="large"> </p>
  </div>
  <a href="/data/download"><div class="data_doc"></div></a>
</div>
{% endblock %}
