{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block js %}
<script src="/static/js/main.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div class="clearfix">
    <div class="flash"></div>
    <div class="float_left_70">
	<h1> Major Trends </h1>
	<ul  class="list">
		<li> The rate of natural disasters has remained relatively stable since 2000, but did spike in 2006. </li>
		<li> Floods and mass movements are increasing, whereas earthquakes, extreme temperatures, and droughts have decreased. </li>
		<li> Nearly 40% of the world's disasters occur in Asia. </li>
			<li> 30% of the world's disasters occur in 5 countries: United States, China, Indonesia, India, and the Philippines. </li>
		<li> Disasters have varying impacts depending on type </li>
	</ul> 
				
    </div>
</div>
<div class="clearfix small_container">
  <div class="small_left ">
    <a href="/research/earthquakes/"><div class="chart_small"></div></a>
    <a href="/research/earthquakes/" class="small_img_path">Earthquakes</a>
  </div>
  <div class="small_left">
    <a href="/research/katrina/"><div class="chart_curve_small"></div></a>
    <a href="/research/katrina/" class="small_img_path">Katrina</a>
  </div>
  <div class="small_left">
    <a href="/research/heatwaves/"><div class="pie_small"></div></a>
    <a href="/research/heatwaves/" class="small_img_path">Heatwaves</a>
  </div>
</div>
{% endblock %}
