{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block js %}
<script src="/static/js/main.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div class="cloud_bg"></div>
<div class="clearfix">
    <div class="flash"></div>
    <div class="float_left_70">
        <p class="large">Several major trends became clear after sorting through
        the data. The number of disasters in 2010 actually matches the number that
        took place in 2000, but natural disasters did indeed spike in the year
        2006. Also, floods and mass movement disasters appear to be increasing in
        frequency, whereas all others are decreasing or staying the same. Also,
        floods and earthquakes are the most frequent natural disasters.</p>
        <p class="large">Asia sees the majority of natural disasters.
        Also, the United States, China, Indonesia, India, and the Philippines make
        30% of the world's disasters.</p>
        <p class="large">The differing impact among disasters also became evident.
        Whereas earthquakes and floods/storms kill, displace, and cause the most
        damage among natural disasters, more people are actually affected by
        wildfires, volcanoes, and droughts.</p>
    </div>
</div>
<div class="clearfix small_container">
  <div class="small_left ">
    <a href="/research/haiti/"><div class="chart_small"></div></a>
    <a href="/research/haiti/" class="small_img_path">Haiti</a>
  </div>
  <div class="small_left">
    <a href="/research/katrina/"><div class="chart_small"></div></a>
    <a href="/research/katrina/" class="small_img_path">Katrina</a>
  </div>
  <div class="small_left">
    <a href="/research/heatwaves/"><div class="chart_small"></div></a>
    <a href="/research/heatwaves/" class="small_img_path">Heatwaves</a>
  </div>
</div>
{% endblock %}
